:root {
  --height: 88px;
}

.block {
  height: var(--height);
  width: 85vw;
  background-color: #fff;
  filter: drop-shadow(0px 3px 3px rgba(0, 0, 0, 0.25));
  border: 0;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
}

.top-half {
  background-color: #fff;
  border-radius: 12px 12px 0 0;
}

.halves {
  display: flex;
  align-items: center;
  flex-direction: row;
}

.halves p {
  margin: 0;
}

.bottom-half {
  background-color: rgb(240, 240, 240);
  border-radius: 0 0 12px 12px;
}


.color {
  width: 20px;
  height: calc(var(--height)/2);
  border: 0;
}

.top-color {
  border-radius: 12px 0 0 0;
}

.bottom-color {
  border-radius: 0 0 0 12px;
}

.team-text {
  padding-left: 12px;
}

.score-text {
  position: absolute;
  right: 20px;
}
